html {
  min-height: 100%;
}

body {
  background: #e8e8e8;
  background: #e8e8e8;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #4c4c4c;
  margin-top: 3.5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

ul {
  margin: 0;
}

.bg-steel {
  background-color: #a37eba;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #a37eba;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.text-highlight {
  color: #c4e5f8;
}

.carousel-item {
  height: inherit;
}

.carousel-inner {
  height: inherit;
}

.image-carousel {
  height: 100%;
  object-fit: cover;
  overflow: hidden;

  /* Set up positioning */
  position: fixed;

  /* Align horizontally */
  left:0;
  right:0;
  margin:0 auto;   
}

.carousel-main {
  height: 70vh;
}

@media screen and (max-width: 1200px) {
  .carousel-main {
    height: 50vh;
  }
}

@media screen and (max-width: 600px) {
  .carousel-main {
    height: 40vh;
  }
}