{% extends "blog/base.html" %}
{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src={{ object.featured_photo.url }}>
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href=""></a>
                <small class="text-muted"></small>
            </div>
            <h2 class="article-title">{{ object.name }}</h2>
            <p class="article-content">{{ object.description }}</p>
            <span> Variations: </span>
            {% for variation in object.variations.all %}
                </br>
                <span> {{object.name}}-{{ variation.name }} </span>
            {% endfor %}
        </div>
    </article>
{% endblock content %}