{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Sterge Postarea</legend>
                <h2>Esti sigur ca vrei sa stergi postarea "{{ object.title }}" ?</h2>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Da, sterge postarea</button>
                <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}">Anuleaza</a>
            </div>
        </form>
    </div>
{% endblock content %}